# To get started with Dependabot version updates, you'll need to specify which
# package ecosystems to update and where the package manifests are located.
# Please see the documentation for all configuration options:
# https://docs.github.com/github/administering-a-repository/configuration-options-for-dependency-updates

version: 2
updates:
  # Update NuGet dependencies
  - package-ecosystem: "nuget"
    directory: "/" # Location of package manifests
    schedule:
      interval: "daily"
    open-pull-requests-limit: 10
    reviewers:
      - "dwojtaszek"
    assignees:
      - "dwojtaszek"
    commit-message:
      prefix: "deps"
      include: "scope"

  # Update GitHub Actions
  - package-ecosystem: "github-actions"
    directory: "/" # Location of workflow files
    schedule:
      interval: "weekly"
      day: "monday"
      time: "09:00"
    open-pull-requests-limit: 5
    reviewers:
      - "dwojtaszek"
    assignees:
      - "dwojtaszek"
    commit-message:
      prefix: "ci"
      include: "scope"
